<meta charset="UTF-8">
<html>

   <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
      <script type="text/javascript" src="vocab-game.js"></script>

      <style>

      </style>
   </head>

   <body>
      <div class="" id="max">

         <div class="w-100" id="thought">
            <button class="b--dashed" id="susan" onclick="startGame()">Start game</button>
         </div>
         <div class="w-100 animal">
            {{data}}
         </div>
      </div>
      <div class="">
         <div id="answerBox" class="w-100 flex flex-column flex-row-ns">
            <div class="fries">
               <button class="v-btm">Hi</button>
            </div>

         </div>

      </div>

      <div>

      </div>
   </body>


</html>